<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910323992173-afjf6r0drr4106ts3601oio3l20u8koa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910323992173-afjf6r0drr4106ts3601oio3l20u8koa</string>
	<key>API_KEY</key>
	<string>AIzaSyBIBSmNOifE69hgCUWA0honopDaqmPykqU</string>
	<key>GCM_SENDER_ID</key>
	<string>910323992173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vrtic</string>
	<key>PROJECT_ID</key>
	<string>diplomski-b9e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>diplomski-b9e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910323992173:ios:3b0de9979bc755d1486164</string>
</dict>
</plist>